################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExtendedConsole/obj
/ExtendedConsole/.vs/ExtendedConsole/v17
/ExtendedConsole/.vs/ExtendedConsole/DesignTimeBuild
/ExtendedConsole/bin/Debug/net6.0
/ExtendedConsole/.vs/ExtendedConsole/FileContentIndex
/ExtendedConsole/.vs/ProjectEvaluation
